<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Animals</title>
    <link rel = "stylesheet" th:href ="@{/css/cssFTW.css}">

</head>

<body>




<div class="main">

    <pre id="quote">"Animals from <td th:text = "${countryName}">" </pre>

    <a th:href="@{/countries}"> BACK </a> <br> <br> <br>




    <tr th:each = "animal:${animals}">
        <td th:text = "${animal.animalName}"> animals</td>
        <a th:href = "@{/animals/{countryName}/{id}(id=${animal.id}, (countryName=${countryName}))}" class = "btn btn-primary">delete</a>
        <br>
    </tr>




   <form method= "post" th:action = "@{/animals/{countryName}(countryName=${countryName})}">

        <input type="text" name="animalName" th:text = "*{animalName}"> <br>

        <input type="submit" value="create">

    </form>






</div>
</body>

</html>
